.idea
ReleasesBuilds/*
*app.conf.*

iconcreator
*.prod.*
.DS_Store
node_modules
__APP_BUILD__
ssl-create
update-taskview.sh
.vscode
*.tmp.*
*.sh
!build-docker.sh
!upload-server.sh
dist
mobile/SDK
cache
*.plist
release
private.pem
# node

*.log

*.private.ts

.env.production

/updates/*.zip
prod

tsconfig.app.tsbuildinfo
customer-license
!build-dockers.sh
!build-docker-api.sh
!build-docker-web.sh
!entrypoint.sh