.tv-dashboard {
    height: calc(100vh - 56px);
    width: 100%;
    overflow: auto;
    flex-wrap: wrap;

    &__wrapper {
        max-width: 700px;
        width: 700px;
        flex-shrink: 0;
        min-height: 500px;
    }

    .main-tasks {
        margin-top: 0 !important;
        min-height: 350px;
    }
}

.v-main {
    &>.v-container {
        height: 100%;
    }
}