@tailwind components;

@layer components {
    .container {
        @apply flex ml-1;
    }

    .divider {
        @apply px-1 opacity-70;
    }

    .item {
        @apply text-sm cursor-pointer text-tv-active hover:bg-gray-200 px-2 rounded flex items-center;
        text-transform: capitalize !important;
    }

    .active {
        @apply text-tv-active opacity-70;
    }
}