.tip-tap-wrapper {

    >div {
        max-width: 1100px !important;
        width: 100%;
    }
}

.tiptap,
.tiptap * {
    font-size: 16px !important;
}

.tiptap {
    outline: none;

    a {
        color: #588de4;
        text-decoration: underline;
    }

    :first-child {
        margin-top: 0 !important;
    }

    ul,
    ol {
        padding: 0 1rem;
        margin: 1.25rem 1rem 1.25rem 0.4rem;

        li p {
            margin-top: 0.25em;
            margin-bottom: 0.25em;
        }
    }

    ul {
        list-style: disc;
    }

    ol {
        list-style: decimal;
    }

    h1,
    h2 {
        margin-top: 0.3rem !important;
        margin-bottom: 0.2rem !important;
    }

    h1 {
        font-size: 1.6rem !important;

        * {
            font-size: 1.6rem !important;
        }
    }

    h2 {
        font-size: 1.3rem !important;

        * {
            font-size: 1.3rem !important;
        }
    }

    h3 {
        font-size: 1.1rem !important;

        * {
            font-size: 1.1rem !important;
        }
    }

    h1,
    h2,
    h3 {
        font-weight: 600;
    }

    h4,
    h5,
    h6 {
        font-size: 1rem !important;
    }

    code {
        background-color: var(--tip-tap-code-bg);
        border-radius: 0.4rem;
        padding: 0.04em 0.3em;

        br {
            margin-bottom: 20px;
        }
    }

    pre {
        background: var(--tip-tap-code-bg);
        border-radius: 0.5rem;
        font-family: 'JetBrainsMono', monospace;
        margin: 1.5rem 0;
        padding: 0.75rem 1rem;
        overflow: auto;

        code {
            background: none;
            color: inherit;
            font-size: 0.8rem;
            padding: 0;
        }
    }

    blockquote {
        border-left: 3px solid var(--tip-tap-code-bg);
        margin: 1.5rem 0;
        padding-left: 1rem;

    }

    hr {
        border: none;
        border-top: 1px solid var(--tip-tap-code-bg);
        margin: 2rem 0;
    }

    /* Placeholder (at the top) */
    p.is-editor-empty:first-child::before {
        color: var(--gray-4);
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
        opacity: 0.4;
    }
}