.task-item {
    // box-shadow: 0px 1px 2px 0px #00000033;
    // padding: 10px;
    // border-radius: 10px;
    // background: rgb(var(--v-theme-surface));
    // text-decoration: none;
    // color: inherit;
    // cursor: pointer;

    // &__dates {
    //     color: var(--icon-grey);
    // }

    // &__date {
    //     border-radius: 4px;
    //     border: 1px solid var(--border-grey);
    //     padding: 2px 4px;
    // }

    // .v-checkbox .v-selection-control {
    //     min-height: 28px !important;
    // }

    // &__left {
    //     flex-shrink: 0;
    // }

    // &__description {
    //     font-size: 16px;
    //     font-weight: 400;
    //     text-align: left;
    //     margin-top: 2px;
    //     word-break: break-word;

    //     overflow: hidden;
    //     text-overflow: ellipsis;
    //     display: -webkit-box;
    //     -webkit-line-clamp: 2;
    //     -webkit-box-orient: vertical;
    // }
}