name: "CLA Assistant"
on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened, closed, synchronize]

permissions:
  actions: write
  contents: write
  pull-requests: write
  statuses: write

jobs:
  CLAAssistant:
    runs-on: ubuntu-latest
    steps:
      - name: "CLA Assistant"
        if: |
          github.event_name == 'pull_request_target' ||
          (github.event_name == 'issue_comment' &&
           github.event.issue.pull_request &&
           (github.event.comment.body == 'recheck' ||
            github.event.comment.body == 'I have read the CLA Document and I hereby sign the CLA'))
        uses: contributor-assistant/github-action@v2.6.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN_CLA }}
        with:
          path-to-signatures: 'signatures/cla.json'
          path-to-document: 'https://github.com/Gimanh/taskview-community/blob/main/CLA/CLA.md'
          branch: 'cla-signatures'
          allowlist: bot*,dependabot[bot]
          custom-notsigned-prcomment: >
            Thank you for your contribution!
            Please read the CLA: https://github.com/Gimanh/taskview-community/blob/main/CLA/CLA.md
            Then comment exactly:
            "I have read the CLA Document and I hereby sign the CLA"
